---
apiVersion: external-secrets.io/v1alpha1
kind: ExternalSecret
metadata:
  name: pgo-s3-conf
  namespace: keycloak
spec:
  target:
    name: pgo-s3-conf
  refreshInterval: "15s"
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  dataFrom:
  #  - key: accounts/holecs
    - key: accounts/osn
