namespace: keycloak
resources:
  - secrets/pgo-s3-conf.yaml
  - secrets/pgo-pgbackrest-secrets.yaml
  - ha-postgres.yaml
  - ../../base
  - keycloakrealm.yaml
  - clients/regapp.yaml
  - clients/coldfront.yaml
  - clients/ocp-prod.yaml
  - clients/openstack.yaml
  - clients/xdmod.yaml
  - clients/esi.yaml
  - clients/rhoai-test.yaml
  - keycloak-idp-cilogon.yaml
  - ingress.yaml

patchesStrategicMerge:
  - patches/keycloak.yaml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  - name: nerc-setup
    files:
    - nerc-setup.sh
