namespace: keycloak
resources:
  - secrets/pgo-s3-conf.yaml
  - secrets/pgo-pgbackrest-secrets.yaml
  - ha-postgres.yaml
  - ../../base
  - keycloakrealm.yaml
  - clients/regapp.yaml
  - clients/coldfront.yaml
  - clients/ocp-prod.yaml
  - clients/openstack.yaml
  - keycloak-idp-cilogon.yaml
  - ingress.yaml

patches:
  - target:
      group: external-secrets.io
      version: v1beta1
      kind: ExternalSecret
      name: '.*'
    path: patches/external_secrets_api_version.yaml

patchesStrategicMerge:
  - patches/keycloak.yaml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  - name: nerc-setup
    files:
    - nerc-setup.sh
